@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
} 

#adminPage .section {
	border: 1px solid #ccc;
	padding: 1.7rem 2rem;
	margin: 2rem 0;
	border-radius: 0.4rem;	
}

#adminPage a {
	color: rgb(239, 35, 60);
	text-decoration: none;
	transition: 0.4s;
}

#adminPage a:hover {
	color: rgb(239, 35, 60, 0.6);
	
}

#adminContest, #adminUsers {
  display: none;
}

/*copied from user.css */
#adminHome {
	text-align: center;
}

#adminHome, #adminUsers, #adminContest {
	animation: fadeEffect 1s;
}

#adminHome .btn1 {
	padding: 2rem;
	width: 300px;
	margin: 1rem;
}

#adminHome .btnTitle {
	font-size: 2rem;
	font-weight: bold;
}

#adminHome .btnText {
	font-size: 0.8rem;
}

/* copied from forum.css */
#adminUsers .timestamp {
	font-size: 0.8rem;
	color: #777;
}

#adminUsers table {
	width: 100%;
	border: none;
}
#adminUsers td, #adminUsers th {
    text-align: left;
    padding: 1.2rem;
	border: none;
}
#adminUsers tr {
	border-bottom: 1px solid #eee;
}
#adminUsers tr:last-child {
	border-bottom: none;
}
#adminPage .btnIcon {
	padding: 0.5rem 1.2rem;
	margin: 0 0.5rem;
}

#adminUsers textarea {
	width: 100%;
	padding: 1.2rem;
	
}


/* INBOX - copied from user page */
#adminInbox .section {
	border: 1px solid #ccc;
	padding: 1.7rem 2rem;
	margin: 2rem 0;
	border-radius: 0.4rem;	
}

/* INBOX */
#adminInbox .message {
	background-color: #f7f7f7;
	border-radius: 0.4rem;
	margin-top: 1.5rem;
	padding: 1.7rem;
}

/* copied from forum */
#adminInbox .timestamp {
	font-size: 0.8rem;
	color: #777;
}

#adminInbox .author {
	font-weight: bold;
	font-size: 1.2rem;
}