/*.column {
    float: left;
    padding: 10px;
  }
  
  .column.side {
    width: 33%;
  }
  
  .column.middle {
    width: 34%;
  }*/

#adminPage .section {
	border: 1px solid #ccc;
	padding: 1.7rem 2rem;
	margin: 2rem 0;
	border-radius: 0.4rem;	
}

#adminPage a {
	color: rgb(239, 35, 60);
	text-decoration: none;
	transition: 0.4s;
}

#adminPage a:hover {
	color: rgb(239, 35, 60, 0.6);
	
}

#adminContest, #adminUsers {
  display: none;
}

/*copied from user.css */
#adminHome {
	text-align: center;
}

#adminHome .btn1 {
	padding: 2rem;
	width: 300px;
	margin: 1rem;
}

#adminHome .btnTitle {
	font-size: 2rem;
	font-weight: bold;
}

#adminHome .btnText {
	font-size: 0.8rem;
}

/* copied from forum.css */
#adminUsers .timestamp {
	font-size: 0.8rem;
	color: #777;
}

#adminUsers td {
	padding: 10px;
}

#adminUsers th {
	padding: 0px 10px;
}