@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
} 
#forumPost {
    display: none;
}
#forumHome, #forumPost, #responseList {
	animation: fadeEffect 1s;
}

/* GENERAL FORUM */
#Forum a {
	color: rgb(239, 35, 60);
	transition: color 0.4s;
}
#Forum a:hover {
  cursor: pointer;
  color: rgb(239, 35, 60, 0.6);
}

/* TABLE */
#Forum table {
	width: 100%;
}
#Forum td, #Forum th {
    text-align: left;
    padding: 1.2rem;
}
#Forum form {
	margin: 2rem 0;
}

/* "CARD" DIVS */
#forumIndex, #mainPost, #postResponses, #composeResponse {
	border: 1px solid #ccc;
	padding: 1.2rem;
	margin: 1rem 0;
	border-radius: 0.4rem;
}

/* FORUM POSTS */
/*styling for forum up/downvoting buttons -- obviously feel free to change or scrap, they just looked hilariously bad with the normal button styling*/
#forumPost .vote button {
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	border-radius: 50%;
	padding: 5px;
	font-size: 0.8rem;
	margin: 0.5rem;
}
#forumPost .vote { /* So the vote # and buttons line up */
	padding: 0.8rem;
	text-align: center;
	vertical-align: top;
	width: 1rem;
}
#forumPost .timestamp {
	font-size: 0.8rem;
	color: #777;
}
#forumPost .author {
	padding: 1.5rem 0rem;
	font-weight: bold;
	font-size: 1.2rem;
}
#forumPost .postContent {
	margin: 2rem 0;
}

/* SELECT DROP DOWNS */
label[for="indexView"], label[for="responsesView"], #indexView, #responsesView {
	font-size: 0.9rem;
}
#indexView, #responsesView {
	margin: 0 0.5rem;
}

/* USER RESPONSE */
#composeResponse textarea {
	padding: 1.2rem;
	width: 100%;
	margin: 1rem 0;
}

#composePost input[type=text], #composePost textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.5rem 1rem;
}

#composePost textarea {
	margin: 0 0 2rem 0;
}