@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.tabcontent:not(#Welcome) {
	display: none;
}
.tabcontent {
	animation: fadeEffect 1s;
}
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
} 
/* divs marked for hiding */
.hide {
	display: none;
}

/* LOGIN BAR */
#LoginBar {
	background-color: rgb(217, 4, 41);
	color: white;
	text-align: center;
	padding: 0.5rem;
	font-size: 0.9rem;
}
#LoginBar a {
	color: rgb(255,255,255,0.7);
	transition: color 0.7s;
}
#LoginBar a:hover {
	color: rgb(255,255,255,1);
	cursor: pointer;
}

/* TAB BAR */
.tab, .tablinks {
	background-color: rgb(239, 35, 60);
}
.navbar-brand {
	color: rgb(255,255,255,1);
}
.tablinks {
	color: rgb(255,255,255,0.7);
	transition: color 0.4s;
	border: none;
	padding: 1rem;
}
.navbar-brand {
	font-weight: bold;
}
.tablinks.active {
	background-color: rgb(239, 35, 60);
	color: white;
}
.navbar-brand:hover, .tablinks:hover {
	color: rgb(255,255,255,1);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
	background-color: rgb(0,0,0,0);
	border-color: rgb(255,255,255,1);
} 

/* BUTTONS */
button, input[type=button], input[type=submit] {	
	border: none;
	border-collapse: separate; 
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	background-color: white;
	color: rgb(239, 35, 60);
	border: 1px solid rgb(239, 35, 60);
	border-radius: 10px;
	transition: color 0.4s, background-color 0.4s;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
	background-color: rgb(239, 35, 60);
	color: white;
}
input[type=button] {
	width: 100%;
}

/* ALERT */
.alert {
	margin: 2rem 0;
	width: 450px;
}

/* TAB CONTENT */
.tabcontent {
	padding: 2rem;
	border: ;
}
.tabcontent h3 {
	font-size: 4rem;
	font-weight: bold;
	margin: 0 0 2rem 0;
	padding: 0 0 0.5rem 0;
}
.tabcontent h4 {
	font-size: 2rem;
	font-weight: bold;
}
.tabcontent h5 {
	font-size: 1.5rem;
	font-weight: bold;
}
.underline {
	border-bottom: 4px dashed rgb(239, 35, 60);
}
.tab img {
	width: 50px;
	height: auto;
}

/* WELCOME */ 
#Welcome {
	color: white;
}
#Welcome h1 {
	margin: 0;
	font-size: 6rem;
	font-weight: bold;
}
.slogan {
	font-weight: bold;
	font-style: italic;
	font-size: 1.5rem;
}
.col {
	margin: 5rem 0;
	text-align: center;
}
.col h3, .col p {
	padding: 0.5rem 10rem 0rem 10rem;
}

/* LOG IN REGISTER */
input[type=text], input[type=password] {
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}

/* VOTE */
#Vote img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 200px;
    margin-bottom: 1rem;
}
#Vote .card {
	margin: 1rem 0;
	border-radius: 0.4rem;
}
#Vote .card-title {
	font-weight: bold;
	text-align: center;
	margin: 0 0 1rem 0;
}
#Vote form {
	display: block;
}
#Vote input[type=file] {
	margin:0 0 1rem 0;
}
#Vote .submit {
	background-color: #f7f7f7;
	padding: 2rem;
	margin: 1rem 0;
	border-radius: 0.4rem;
}
#Vote .submit p {
	margin: 1rem 0;
}