/* Styling for quiz page
@author Alexis + adaptations by Bethany
Last modified 12/16/2020 */

@keyframes fadeEffect {
	from {opacity:0;}
	to {opacity:1;}
}

/* quiz home page */

.quizThumbnail {
	display: block;
	border: 1px solid rgb(239, 35, 60);
	color: black;
	border-radius: 0.4rem;
	font-size: 2rem;
	font-weight: bold;
	padding: 2rem;
	transition: color 0.4s ease, border 0.4s ease;
}

.quiz h4 {
	font-size: 3rem;
	text-align: center;
}

.quiz h5 {
	font-size: 2rem;
}

.quizThumbnail:hover {
	cursor: pointer;
	color: rgb(239, 35, 60);
}

#QuizHome, .quiz {
    animation: fadeEffect 1s ease;
}

.quiz ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.quizContainer {
    padding: 0 30px 20px 30px;
    margin: 0 auto;
    max-width: 960px;
}
.quiz-question {
  font-weight: bold;
  display: block;
  padding: 30px 0 10px 0;
  margin: 0;
}
.quiz-answer {
  margin: 0;
  padding: 0.8rem 1.2rem;
  background: white;
  border: 1px solid #ddd;
  margin-bottom: 0.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: border 0.4s;
}
.quiz-answer:hover {
  border: 1px solid rgb(239, 35, 60);
}
.quiz-answer.active {
	color: rgb(239, 35, 60);
	border: 1px solid rgb(239, 35, 60);
	font-weight: bold;
	background-color: white;
	transition: 0.2s;
}
.quiz-answer.correct, .quiz-answer.incorrect {
	color: white;
	font-weight: bold;
}
.quiz-answer.correct {
  background-color: rgb(179,204,87);
  border: none;
}
.quiz-answer.incorrect {
  background-color: rgb(255,78,80);
  border: none;
}
.quiz-result {
  max-width: 960px;
  margin: 2rem auto;
  font-weight: bold;
  text-align: center;
  border-radius: 0.4rem;
  color: #fff;
  padding: 20px;
}
.quiz-result.good {
  background: rgb(179,204,87);
}
.quiz-result.mid {
  background: rgb(255,190,64);
}
.quiz-result.bad {
  background: rgb(255,78,80);
}
