/* Styling for contest page
@author Alexis
Last modified 12/16/2020 */

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
#contestHome, #mainPattern {
	animation: fadeEffect 1s;
}

/* VOTE */
#Vote .entriesVote {
	text-align:center;
}
#Vote .entriesVote h4 {
	margin:3rem 0 1rem 0;
}
#Vote .card-img-top {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}
#Vote .card {
	margin: 1rem 0;
	border-radius: 0.4rem;
}
#Vote .card-title {
	font-weight: bold;
	text-align: center;
	margin: 0 0 1rem 0;
}
#Vote form {
	display: block;
}
#Vote input[type=file] {
	margin: 0 0 1rem 0;
}
#Vote .entriesSubmit {
	background-color: #f7f7f7;
	padding: 2rem;
	margin: 2rem 0 1rem 0;
	border-radius: 0.4rem;
}
#Vote .entriesSubmit p {
	margin: 1rem 0;
}

#Vote a {
	color: rgb(239, 35, 60);
	transition: color 0.4s;
}
#Vote a:hover {
  cursor: pointer;
  color: rgb(239, 35, 60, 0.6);
}


/* PATTERN.PHP */
#mainPattern {
	text-align: center;
}
#mainPattern .instructions {
	text-align: left;
}
#mainPattern .fullImg {
	object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
	border-radius: 0.4rem;
}
