/* Styling for welcome page
@author Alexis
Last modified 12/16/2020 */

#Welcome {
	color: white;
    text-shadow: 2px 2px 4px #222;
	background-image: url('../imgs/bg.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center;
}
#Welcome h1 {
	margin: 0;
	font-size: 6rem;
	font-weight: bold;
}
#Welcome .slogan {
	font-weight: bold;
	font-style: italic;
	font-size: 1.5rem;
}
#Welcome .welcomeContainer {
	margin: 3rem 0;
	text-align: center;
}
#Welcome .welcomeContainer p {
	padding: 0 0.3rem;
}
@media only screen and (max-width:992px) {
	#Welcome h1 {
		font-size: 4rem;
	}
}