/* <!-- Authors: Imane Berrada and w3-schools| Date: NOV-DEC, 2020-->  */
body {
    background-color: rgb(119,80,112);
}

.buttonNavBar{
    border-radius: 2em;
    background-color: rgb(119,80,112);
    color: white;
    text-decoration: none;
    margin: 2px;
}

.buttonNavBar:hover{
    background-color: black;
    color: white;
}
.colortheme{
    color:rgb(119,80,112);
}

/*  border */
.border{
    border: 1px solid black;
	padding: 1.2em;
	/* margin-right: 2.5em; */
    /* border-radius: 0.8rem; */
    border-color: black;
}

/* CARD */
.card {
    background-color: white;
    border-color: white;
}

.card2 {
    background-color: rgb(119,80,112);
    border-color: rgb(119,80,112);
    color: white;
}
.horLine {
    border: 1px solid black;

}
.card h3 {
    font-family: 'Poppins';
    text-align: left;
	font-size: 40px;
}
.card p {
	line-height: 1.5;
}

/* fade animation */ 
.tabcontent {
	animation: fade 1s;
}

/* Collection css*/
.imageClass {
    width: 100%;
    height: 100%;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
}
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);

}
  
.wrapper2 > div {
  padding-right: 5em;
}

.newFont {
    font-family: 'Poppins';
}

.imgButton {
    background-color: rgb(119,80,112);
    border-radius: 1em;
    margin: 25px;
}

.imgButton:hover {
    box-shadow: white 3px;
    border-radius: 1em;
    border-color: white;
    filter: grayscale(0%);
}

/* Login Modal Content/Box */

.modal-content {
    position: relative;
    background-color: rgb(119,80,112);
    margin: 5% auto 15% auto; 
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration: none;
    cursor: pointer;
}
  
  .avatar {
    width: 40%;
    border-radius: 50%;
  }
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    cursor: pointer;
  }

@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
} 

  @keyframes animateButton {
    0% {
      background-color:rgb(255,255,255,0.8);
      color: black;
    }

    100% {
      background-color:  rgb(119,89,112);
      color: white;
    }

  }

  /* Scroll edit*/
  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px  grey;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(119,80,112);
    
  }

  #overlayLogin {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(119,80,112,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .alert{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    font-family: 'Poppins';
    color: white;
    background-color:rgb(119,80,112);
    padding: 1em;
    border-radius: 2em;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
  }

  .alert:hover{
    text-decoration: underline;
  }

  /* Flip cards w3*/
  .flip-card {

    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    display:inline-block;
    margin-right: 5em;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }