body {
    background-image: url("https://media.istockphoto.com/vectors/seamless-thin-linear-pattern-abstract-geometric-background-stylish-vector-id1174841576?b=1&k=6&m=1174841576&s=612x612&w=0&h=U25csJgVi9nGUu6KrcyxxTCiugMYsrj2bLjxiQMwBzo=");
}

/* Style title */
.title {
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 0px;
    height:275px;
    background: #d52e3f;
    color: #fcedd8;
    font-family: cursive;
    font-weight: 700;
    text-shadow: 3px 3px 0px #eb452b, 
              6px 6px 0px #efa032, 
              9px 9px 0px #46b59b, 
              12px 12px 0px #017e7f, 
              15px 15px 0px #052939, 
              18px 18px 0px #c11a2b;
        
}

/* Style search bar */
.search {
    border-radius: 32px;
    width: 75%;
    padding: 10px;
    font-size: 15px;
}

.searchCont {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 300px;
    display: flex;
    height: auto;
    padding-left: 100px;
    border-radius: 10px;
  }

  /* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
  }
  
  .container .btn:hover {
    background-color: black;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }