input[type=text], input[type=password], input[type=email], input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  
#register, #signin{
  float: left;
  width: 50%;
}

.register, .login{
background-color: rgb(13, 130,102);
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

.register:hover, .login:hover {
opacity: 0.8;
}

.register-content, .signin-content {
width: 80%; /* Could be more or less, depending on screen size */
}

.register, .signin {
position: relative; 
width: 100%; /* Full width */
height: 100%; /* Full height */
}


.logout-btn {
  background-color: rgb(13, 130,102);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
}
