table { 
    margin: 0 auto; 
    font-size: large; 
    border: 1px solid black; 
} 

td { 
    background-color: #E4F5D4; 
    border: 1px solid black; 
} 

th, td { 
    font-weight: bold; 
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
} 

td { 
    font-weight: lighter; 
} 

h1 { 
    text-align: center; 
    color: black; 
    font-size: xx-large; 
} 

.dropdown{
    text-align: center
}

#major{
    background-color: rgb(235, 221, 34);
    padding: 8px 16px;
    margin: 0 auto;
    display: block;
    border: 2px solid transparent;
}
  
select > option {
    padding: inherit;
}