table { 
    z-index:-1;
    margin: 0 auto; 
    font-size: large; 
    border: 1px solid black; 
} 

td { 
    background-color: #E4F5D4; 
    border: 1px solid black; 
} 

th, td { 
    font-weight: bold; 
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
} 

td { 
    font-weight: lighter; 
} 

h1 { 
    text-align: center; 
    color: black; 
    font-size: xx-large; 
} 

#major, #majorCourse{
    z-index: 1;
    background-color: rgb(235, 221, 34);
    padding: 8px 16px;
    margin-bottom: 6px;
    display: block;
    border: 2px solid transparent;
    display: inline-block;
    float: left;
}
  
select > option {
    padding: inherit;
}

#addBtn{
    background-color: rgb(34, 179, 46);
    transition-duration: 0.4s;
    padding: 10px 20px;
    border: none;
    color: white;
    margin-left: 6px;
    display: inline-block;
    float: left;
}

#addBtn:hover{
    background-color: darkcyan;
    color:white;
}

#removeBtn{
    background-color: rgb(231, 40, 40);
    transition-duration: 0.4s;
    padding: 10px 20px;
    border: none;
    color: white;
    margin-left: 6px;
    display: inline-block;
}
  
#removeBtn:hover{
    background-color: darkcyan;
    color:white;
}